@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu&display=swap');

* {
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: #B4001D;
    color: #FFFFFF;
    width: 100%;
}

header div{
    display: inline-flex;
}

header div h2 {
    margin: 0 auto;
}

#post-it-generator {
    margin: 5px;
    border: transparent;
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.post-it-orange {
    width: 100px;
    height: 50px;
    border: 1px solid #000000;
    background-color: #F7A500;
}

.post-it-purple {
    width: 100px;
    height: 50px;
    border: 1px solid #000000;
    background-color: #800080;
    color: #FFFFFF;
}

#orange-droppable {
    width: 200px;
    height: 800px;
    background-color: rgba(247, 165, 0, 0.50);
    float: right;
}

#purple-droppable {
    width: 200px;
    height: 800px;
    background-color: rgba(128, 0, 128, 0.50);
    float: right;
}