@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu&display=swap');

* {
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./img/nier_replicant.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

header {
    background-color: #B4001D;
    color: #FFFFFF;
    width: 100%;
}

header div{
    display: inline-flex;
}

header div h2 {
    margin: 0 auto;
}

#post-it-generator {
    margin: 5px;
    border: transparent;
    padding: 5px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.post-it-orange {
    width: 150px;
    height: 150px;
    border: 1px solid #000000;
    background-color: #F7A500;
}

.post-it-purple {
    width: 150px;
    height: 150px;
    border: 1px solid #000000;
    background-color: #800080;
    color: #FFFFFF;
}

.post-it-orange textarea{
    width: 90%;
    height: 80%;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,0.50);
}

.post-it-purple textarea{
    width: 90%;
    height: 80%;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.50);
    color: #FFFFFF;
}

.post-it-orange p, .post-it-purple p {
    float: right;
    padding-right: 5px;
}

.post-it-orange p button, .post-it-purple p button {
    border: transparent;
    width: 30px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;
    cursor: pointer;
}

.delete-post-it-button {
    background-color: #B4001D;
    color: #FFFFFF;
}

#orange-droppable {
    width: 200px;
    height: 96vh;
    background-color: rgba(247, 165, 0, 0.50);
    float: right;
}

#purple-droppable {
    width: 200px;
    height: 96vh;
    background-color: rgba(128, 0, 128, 0.50);
    float: right;
}