@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu&display=swap');

* {
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
}

main {
    background-color: #ae86d3;
}

.form{
    padding: 40px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.input{
    border: 1px solid pink;
    padding: 10px;
    margin: 10px;
}

button {
    width: 100px;
    background-color: blueviolet;
    color: #FFFFFF;
    border: transparent;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
}