@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu&display=swap');

* {
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ae86d3;
}

.form{
    padding: 40px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.input{
    border: 1px solid #ffc0cb;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffc0cb;
}

input[type="button"] {
    width: 100px;
    background-color: #8a2be2;
    color: #FFFFFF;
    border: transparent;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

input[type="text"]{
    width: 350px;
    border: transparent;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}