/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu:wght@300&display=swap'); */

@font-face {
    font-family: Ubuntu-Light;
    src: url(./Ubuntu-Light.ttf);
}

body {
    font-family: Ubuntu-Light;
    background-image: url(./../img/CHN576AC_C101_AC.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* For the buttons in the header and footer*/
.btn, .navbar-toggler{
    background-color: #F7A500 !important;
}

#userInformation, #infoBackgroundImage{
    padding: 30px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 55px;
    width: 50%;
    text-align: center;
    background-color: rgba(235, 235, 238, 0.75);
    border-radius: 10px;
    width: 520px;
}

#userInformation ul{
    list-style-type: none;
    padding-left: 0;
    padding: 5px;
}

#userInformation ul li{
    padding: 5px;
}

#userInformation ul li img{
    width: 100px;
    border-radius: 10px;
}

#userInformation button{
    background-color: #F7A500;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    transition-duration: 0.25s;
}

#userInformation button:hover{
    transform: scale(1.1);
}

#userInformation button:disabled{
    background-color: #EBEBEB;
    transform: scale(1);
}



#deleteUser {
    background-color: #B4001D !important;
    color: #FFFFFF;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
}

.material-symbols-outlined.md-18 {
    font-size: 18px;
}