<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity 1 - UD7 - David Rueda Madrid</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./posts-hub.css">
</head>
<body>
    <header>
        Awaiting a header...
    </header>
    <div id="app">
        <div>
            <h1>Your posts</h1>
            <div v-if="posts.length">
                <p v-for="{title, briefSummary, author, postImage} in posts"> {{title}} - {{briefSummary}} - {{author}} - {{postImage}} <button>Edit post</button> <button>Delete post</button></p>
            </div>
        </div>
        <div>
            <h1>Create a post</h1>
            <div>
                <div class="labelInput">
                    <label for="title">Title of the post</label>
                    <input v-model="title" type="text" name="title">
                </div>
                <div class="labelInput">
                    <label for="briefSummary">Brief summary</label>
                    <input v-model="briefSummary" type="text" name="briefSummary">
                </div>
                <div class="labelInput">
                    <label for="postContent">Content</label>
                    <textarea v-model="postContent" name="postContent" cols="30" rows="10"></textarea>
                </div>
                <div class="labelInput">
                    <label for="author">Author</label>
                    <select v-model="author" name="author">
                        <option value="B772">Boeing 777-2AC</option>
                        <option value="A346">Airbus A340-642</option>
                        <option value="B752">Boeing 757-2ACER</option>
                        <option value="A20N">Airbus A320-271N</option>
                    </select>
                </div>
                <div class="labelInput">
                    <label for="postImage">Upload an image for the post</label>
                    <input v:bind="postImage" type="file" name="postImage">
                </div>
                <button v-on:click="createPost">Create post</button>
            </div>
        </div>
    </div>
    <footer>
        Awaiting a footer...
    </footer>
    <script src="./posts-hub.js"></script>
</body>
</html>