@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu:wght@300&display=swap');

body {
    font-family: "Ubuntu", sans-serif;
    /* background-image: url(./../img/CHN861AC_C608_AC.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

/* For the buttons in the header and footer*/
.btn, .navbar-toggler{
    background-color: #F7A500 !important;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
}

.material-symbols-outlined.md-18 {
    font-size: 18px;
}